<div class="uk-width-small-1-1 uk-width-medium-2-3 uk-width-large-1-2 uk-container-center">
  <form class="uk-form uk-form-stacked uk-panel uk-panel-box uk-panel-box-primary">
    <div class="uk-grid">
      <div class="uk-width-5-10">
        {{chart-date-range-picker
          periodChoices=periodChoices
          aggregateChoices=aggregateChoices
          isUsePeriod=isUsePeriod
          toggleUsePeriod=(action 'toggleUsePeriod')
          period=(mut period)
          periodType=(mut periodType)
          startDate=(mut startDate)
          endDate=(mut endDate)
          aggregate=(mut aggregate)
          }}
        </div>
        <div class="uk-width-5-10">
            <p>{{t 'getStarted.dateRangeIntro'}}</p>
        </div>
      </div>
  </form>
</div>

{{#each suggestions as |suggestion index|}}
  {{chart-suggestion-pick suggestion=suggestion charts=userProfile.charts chartSourceProperties=chartSourceProperties index=index
      onSelect=(action 'selectChartSuggestion') onUnselect=(action 'unselectChartSuggestion')}}
{{/each}}
