<div class="uk-width-small-1-10 uk-text-primary uk-text-right">
	{{position}}
</div>
<div class="uk-width-small-8-10 uk-width-medium-2-10">
	<strong>{{source.source}}</strong> / <span class="uk-text-primary">{{source.prop}}</span>
</div>
<div class="uk-width-small-1-10 uk-flex-order-last-medium uk-text-primary">
	{{#if selected}}
		{{fa-icon "check" size=3}}
	{{/if}}
</div>
<div class=" uk-width-small-1-1 uk-width-medium-6-10 uk-panel uk-panel-box uk-text-center">
	TODO: date
	TODO: sample data
</div>
