<div class="uk-width-small-1-1 uk-width-medium-6-10 uk-width-large-8-10">
	<form class="uk-form">
		<fieldset>
			<legend>{{t 'data-props.addNode.title'}}</legend>
			<div class="uk-form-row">
				<p>{{t 'data-props.addNode.intro'}}</p>
			</div>
		</fieldset>
	</form>
	{{add-node-form}}
</div>
