<div class="uk-width-small-6-10 uk-width-large-4-10">
	{{data-props-source-form nodeConfig=model.nodeConfig sourceConfig=model.sourceConfig}}
</div>
<div class="uk-width-small-1-1 uk-width-large-4-10">
	{{data-props-props-form nodeConfig=model.nodeConfig sourceConfig=model.sourceConfig propConfigs=model.propConfigs
	  setPropertyColor='setPropertyColor'
    }}
</div>
