<div class="uk-width-small-6-10 uk-width-large-4-10">
	{{data-props-source-form sourceConfig=model.sourceConfig}}
</div>
<div class="uk-width-small-1-1 uk-width-large-4-10">
	{{data-props-props-form sourceConfig=model.sourceConfig propConfigs=model.propConfigs}}
</div>
