<div class="uk-width-4-10">
  <form class="uk-form uk-form-stacked">
    <fieldset>
      <div class="uk-form-row">
        {{input value=model.displayName class="uk-width-1-1" placeholder=(t 'data-props.edit.source.title')}}
      </div>
    </fieldset>
  </form>
</div>
<div class="uk-width-4-10">
  {{liquid-outlet}}
</div>
