<h1 class="uk-margin-remove">
	{{t 'data-props.title'}}
</h1>
{{data-props-editor
	profile=model.profile
	activeNodeConfig=model.activeNodeConfig
	nodeConfigs=model.allNodeConfigs
	sourceConfigs=model.allSourceConfigs
	propConfigs=model.allPropConfigs
	selectedSource='selectedSource'
	showAddNewNodeForm='showAddNewNodeForm'
	}}
