<h1 class="uk-margin-remove">
	{{t 'data-props.title'}}
</h1>
<p>{{t 'data-props.intro'}}</p>
{{data-props-editor sourceConfigs=model.allSourceConfigs propConfigs=model.allPropConfigs selectedSource='selectedSource'}}
