<div class="uk-width-small-1-1 uk-width-medium-2-3 uk-width-large-1-2 uk-container-center uk-text-center">
  <h1>{{t 'login.title'}}</h1>
	<p class="uk-text-large">{{t 'login.intro'}}</p>
</div>

{{login-form}}
