<h2>{{t "pickSources.title"}}</h2>
<p>{{t "pickSources.intro"}}</p>
{{source-property-picker sources=model.availableData
  userProfile=model.userProfile
  sourceProperties=model.userProfile.sourceProperties}}
